/*calender section start*/

.calender_date_tab {
    display: flex;
    gap: 10px;
    flex-flow: wrap;
}
.calender_date_tab .date_link {
    padding: 10px 20px;
    background: #dbdbdb;
    border-radius: 5px;
    cursor: pointer;
}
.calender_date_tab p, .calender_date_tab h3 {
    margin: 0;
}
.calender_wrapper {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
}
@media only screen and (max-width:767px){
    .calender_wrapper {
    padding: 10px;
}
.calender_date_tab h3 {
    font-size: 90%;
}
.calender_date_tab p {
    font-size: 80%;
}
.calender_date_tab .date_link {
    padding: 10px 15px;
}
}
/*calender section End*/